*{
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
}

.all{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #e6e6e7;
    display: flex;


}

.content{
    margin: auto;
    width: 92%;
    height: 85%;
    text-align: center;
    background-color: white;
    display: flex;
    
}


.main{
    width: 60%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    box-sizing: content-box;
    

}

.main *{
  margin: auto;
  text-align: left;
}



.main h2{ 
    margin-top: 20%;
    font-size: 4em;
    font-style: bold;
    flex: 0 1 auto;
    min-width: 0;
    width: 50%;

  
}

.main p{
    font-size: 1em;
    font-style: bold;
    padding-bottom: 20px;
    flex: 1 1 0;
    min-width: 0;
    width: 50%;
    flex: 0 2 auto;
    
}

 .form{

    height: 10%;
    size: 3em;
    flex: 1 1 auto;
    min-width: 0;
    width: 50%;
    font-size: 1.4em;
    box-sizing: content-box;
    margin-bottom: 20px;
    
} 



.form-element{
    width: 38%;

    -ms-transform: scale(2); 
    -moz-transform: scale(2); 
    -webkit-transform: scale(2); 

    transform: scale(1.3);
    padding: 30px; 
    box-sizing: content-box;

    position: relative;
    left: -23%;
}  



.remember-forgot{
    box-sizing: content-box;
    padding: 10px;
}

.form-element-checkbox{
    display: inline-block;
    padding-left: 10px;
}

.remember-forgot a{
    display: inline;
    float: right;
    padding-right: 10px;
}

.sign-in{
    padding-top: 20px;
    padding-bottom: 20px;
}

[type="submit"]{
    width: 100%;
    font-size: 2em;
    text-align: center;
    border-radius: 10px;

} 






.testimonial{
    width: 50%;
    height: 100%;
    max-width: 50%;
    max-height: 100%;
    flex: 1 1 0;
    min-width: 0;
}

figure{
    height: 100%;
    width: 100%;
    box-sizing: content-box;
}

img{
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.testimonial-text{
    background-color: white;
    width: 90%;
    position: relative;
    top: -50%;
    left: 5%;
    height: 32%;
    box-sizing: content-box;
    opacity: 0.8;

} 

.lorem{
    display: block;
    box-sizing: content-box;
    font-size: 1.4em;
    font-size: bold;

}

.info{
    box-sizing: content-box;
    height: 100%;
}
.testimony-info{
    display: inline;
    box-sizing: content-box;
    float: left;
    height: 100%;
}

.additional{
    display: inline;
    box-sizing: content-box;
    float: right;
    height: 100%;
}


.testimony-info h4{
    font-size: 1.5em;
    font-style: bold;
    padding: 20px;
    
}

.testimony-info p{
    font-size: 1.2em;
    font-style: bold;
    padding: 10px 20px;
}

.testimony-info footer{
    font-size: 1em;
    font-style: bold;
    padding: 5px 20px;
}

.checked {
    margin-top: 20px;
    padding-right: 20px;
    color: orange   ;
}

.buttons{
    position: relative;
    top: 60px;
    left: -20px;
}

.buttons a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  .buttons a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .buttons .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .buttons .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .buttons .round {
    border-radius: 50%;
  }